<!DOCTYPE HTML>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>CS 501 T2 Demo Recognise Me App</title>
      </head>
    <body>
      <video id="video" width="640" height="480" autoplay></video>
      <button id="snap">Login</button>
      <canvas id="canvas" width="640" height="480"></canvas>
      <form action="/submit" method="POST" enctype="multipart/form-data" id="webcam_form">
        <input type="hidden" name="video_feed" value="video_feed_default_value" id="video_feed"/>
      </form>
    </body>
    <script type="text/javascript">
      var video = document.getElementById('video');
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
              video.srcObject = stream;
              video.play();
          });
      }

      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      var video = document.getElementById('video');

      // Trigger photo take
      document.getElementById("snap").addEventListener("click", function() {
          context.drawImage(video, 0, 0, 640, 480);
          document.getElementById('video_feed').value = video.toString('base64');
          document.getElementById('video_feed').value = canvas.toDataURL();
          document.getElementById('webcam_form').submit();
      });
  </script>
</html>
